[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open3d = "*"
scikit-learn = "*"
laspy = "*"
lazrs = "*"
matplotlib = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.12"
